:root {
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #2F303A;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --accent-button-color:#188CE8;
  --accent-card-color: rgba(33, 150, 243, 0.9);
  --logo-color: #000000;
  --button-color:#F5F4FA;
  --social-icons-color: #AFB1B8;
  --portfolio-line: #ECECEC;
  --portfolio-border: #EEEEEE;
  --backdrop-menu-color: rgba(0, 0, 0, 0.2);
  --footer-comments-color: rgba(255, 255, 255, 0.6);
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --overlay-gadgets-color: rgba(47, 48, 58, 0.8);
  --modal-color: #212121;
}



/* general */

body {
  background-color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

.portfolio-background {
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.items {
  padding-bottom: 47px;
}

.gadgets {
  padding-top: 47px;
}

/* button {
  cursor: pointer;
} */

/* img {
  display: block;
} */





/* header */

.header-panel {
  padding-top: 24px;
  padding-bottom: 25px;
}

.line {
  border-bottom: 1px solid var(--portfolio-line);
}

.logo {
  font-family: Raleway, Arial;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;  
  letter-spacing: 0.03em;

  margin-right: 93px;
}

.studio-top {
  color: var(--logo-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-pages {
  display: flex;
  align-items: center;
}

.nav-pages .link{
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-func);
  position: relative;
}

.nav-pages .link:hover,
.nav-pages .link:focus {
  color: var(--accent-color);
}

.nav-pages .current {
  color: var(--accent-color);
}

.current::after {
  margin-top: 27px;
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
 
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-mail {
  margin-right: 30px;
}

.contacts-link {
  display: flex;
  align-items: center;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-func);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-img {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill var(--transition-dur-func);
}

.contacts-link:hover .contacts-img,
.contacts-link:focus .contacts-img {
  fill: var(--accent-color);
}




/* main */

.solutions {
  background-image: url(../images/overlay.png), url(../images/bgd-photo.jpg);
  background-size: cover;
  background-color: var(--secondary-background-color);
  text-align: center;
}

.solutions-section {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 696px;
}

.solutions-title {
  color: var(--primary-background-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36; 
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.btn-service {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-dur-func);
}

.btn-service:hover,
.btn-service:focus {
  background: var(--accent-button-color);
}

.heading-style {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.51;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.items-card {
  display: flex;
  column-gap: 30px;
}

.items-indent {
  width: 270px;
}

.items-pictures {
  background-color: var(--button-color);
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.items-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.items-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.gadgets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gadgets-img {
  display: block;
}

.gadgets-thumb {
  position: relative;
}

.gadgets-overlay {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--overlay-gadgets-color);
}

.team {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.person {
  width: ((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person-text {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-background-color);
}

.person-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.person-prof {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.person-img {
  display:block;
}

.team-section {
background-color: var(--button-color);
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  transition: background-color var(--transition-dur-func);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: var(--social-icons-color);
  transition: fill var(--transition-dur-func);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-background-color);
}

.customers-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

.customers-list-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--social-icons-color);
  border-radius: 4px;
  background-color: var(--primary-background-color);
  transition: border var(--transition-dur-func);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border: 1px solid var(--accent-color);
}

.customers-list-icon {
  fill: var(--social-icons-color);
  transition: fill var(--transition-dur-func);
}

.customers-list-link:hover .customers-list-icon,
.customers-list-link:focus .customers-list-icon {
  fill: var(--accent-color);
}




/* Portfolio main */

.btn-line {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.btn-list {
  background-color: var(--button-color);
  color: var(--title-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  min-width: 73px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0;
  transition: var(--transition-dur-func);
}

.btn-list:hover,
.btn-list:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.prod-name {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.prod-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.prod-grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.prod-cards {
  width: ((100% - 60px) / 3);
}

.prod-text {
  border: 1px solid var(--portfolio-border);
  border-top: none;
  padding: 20px 24px;
  background-color: var(--primary-background-color);
}

.prod-cards:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.prod-img {
  display: block;
}

.prod-thumb {
  position: relative;
  overflow: hidden;
}

.prod-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--transition-dur-func);

  background-color: var(--accent-card-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  padding: 63px 24px 91px;
}

.prod-link:hover .prod-overlay,
.prod-link:focus .prod-overlay {
  transform: translateY(0%);
}





/* footer */

.studio-bottom {
  color: var(--primary-background-color);
}

.footer-side {
  background-color: var(--secondary-background-color);
}

.footer-studio {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  /* justify-content: space-between; */
  align-items: baseline;
}

.footer-studio-bottom {
  margin-right: 70px;
}

.footer-studio-bottom .logo {
  margin-bottom: 6px;
}

.info .link{
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-comments-color);
}

.info .link:hover,
.info .link:focus {
  color: var(--accent-color);
}

.add.link {
  color: var(--primary-background-color);
}

.footer-social {
  margin-right: 85px;
}

.footer-social-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  column-gap: 10px;
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-func);
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: var(--accent-color);
}

.footer-list-icon {
  fill: var(--primary-background-color);
  transition: fill var(--transition-dur-func);
}

.footer-list-link:hover .footer-list-icon,
.footer-list-link:focus .footer-list-icon {
  fill: var(--primary-background-color);
}

.footer-form {
  display: flex;
}

.footer-form-input {
  background-color: var(--secondary-background-color);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-background-color);
  padding-left: 15px;
  outline: none;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-right: 12px;
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 80px 10px 40px;
  border: none;
  cursor: pointer;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background: var(--accent-button-color);
}

.footer-form-wrapper {
  position: relative;
}

.footer-form-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}




/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-menu-color);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


/* modal */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  cursor: pointer;
}

.modal-close-btn-icon {
  fill: inherit;
  transition: fill var(--transition-dur-func);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--accent-color);
}

.modal-caption {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--modal-color)
}




/* form */



.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-form-field-desc {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  display: block;
  fill: inherit;
  transition: fill var(--transition-dur-and-func);
}

.modal-form-input:focus+.modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-func);
  margin-bottom: 10px;
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-wrapper {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
}

/* ------------------start checkbox*/


.modal-form-own-check {
  border: 1px solid #212121;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-check:focus + .modal-form-own-check {
 outline: 1px solid var(--accent-color);
}


.modal-form-check:checked + .modal-form-own-check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form-own-check-icon {
  display: none;
  fill: #ffffff;
}

.modal-form-check:checked + .modal-form-own-check .modal-form-own-check-icon {
  display: block;
}

.ter_con:focus {
  outline: 1px solid var(--accent-color);
}
/* -----end */



.modal-form-btn {
  min-width: 200px;
  align-self: center;
  padding: 10px 80px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  transition: background-color var(--transition-dur-func), color var(--transition-dur-func);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--accent-button-color);
  cursor: pointer;
}












/* 
Raleway weight    700
Roboto weight 400 500  700 900

color

main  color: #FFFFFF;

logo & hover, buttons       color: #2196F3; 

nav (original) &heading titles      color: #212121;

header contacts & parag & description   color: #757575;

footer contacts color: rgba(255, 255, 255, 0.6);

*/