.customers__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-link {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--social-icons-color);
    border-radius: 4px;
    background-color: var(--primary-background-color);
    transition: border var(--transition-dur-func);

    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
    }
  }

  &-icon {
    fill: var(--social-icons-color);
    transition: fill var(--transition-dur-func);

    .customers__list-link:hover &,
    .customers__list-link:focus & {
      fill: var(--accent-color);
    }
  }
}



