.items {
  padding-bottom: 47px;

  &__list {
    display: flex;
    column-gap: 30px;
  }

  &__list-indent {
    width: 270px;
  }

  &__list-pictures {
    background-color: var(--button-color);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__list-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  &__list-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

