:root {
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #2F303A;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --accent-button-color: #188CE8;
  --accent-card-color: rgba(33, 150, 243, 0.9);
  --logo-color: #000000;
  --button-color: #F5F4FA;
  --social-icons-color: #AFB1B8;
  --portfolio-line: #ECECEC;
  --portfolio-border: #EEEEEE;
  --backdrop-menu-color: rgba(0, 0, 0, 0.2);
  --footer-comments-color: rgba(255, 255, 255, 0.6);
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --overlay-gadgets-color: rgba(47, 48, 58, 0.8);
  --modal-color: #212121;
}